<div class="topnav">
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/tournaments" routerLinkActive="active">Tournaments</a>
    <a routerLink="/centers" routerLinkActive="active">Sport Centers</a>
    <a routerLink="/profiles" routerLinkActive="active">Profiles</a>
    <a routerLink="/signin" routerLinkActive="active">Sign In</a>
    <a routerLink="/signup" routerLinkActive="active">Sign Up</a>
    <a routerLink="/resetpassword" routerLinkActive="active">Reset Password</a>
</div>