<mat-toolbar color="primary" class="main-navigation-container">
    <div>
        <button mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
        <button mat-button routerLink="/tournaments" routerLinkActive="active">Tournaments</button>
        <button mat-button routerLink="/players" routerLinkActive="active">Players</button>
        <button mat-button routerLink="/signin" routerLinkActive="active">Sign In</button>
        <button mat-button routerLink="/signup" routerLinkActive="active">Sign Up</button>
        <button mat-button routerLink="/resetpassword" routerLinkActive="active">Reset Password</button>
    </div>
</mat-toolbar>